*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* background-color: bisque; */
    background: linear-gradient(45deg, black, green, red , blue, darkorange, black);
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 10s ease-in-out infinite;
    height: 100vh;
}
    

.contenedor-p{
    width: 300px;
    height: 450px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    border: none;
    box-shadow: 3px 3px 3px 3px white,-3px -3px 3px 3px black, 10px 10px 3px 3px black, -10px -10px 3px 3px white ;

}
    h1{
        display: block;
    }

    button{
        background: linear-gradient(65deg, black, green, red , blue, darkorange, black);
        background-size: 400% 400%;
        position: relative;
        animation: cambiar 10s ease-in-out infinite;
        width: 80%;
        padding: 10px;
        display: block;
        align-items: center;
        border: none;
        box-shadow: 2px 2px 2px 2px white;
        cursor: pointer;
        color: white;
        font-weight: bold;
        font-size: 15px;

    }
    button:hover{
        box-shadow: 4px 4px 3px 3px black;
    }

span{
    display: block;
    width: 90%;
    font-size: 25px;
}

.con-peso{
    display:flex ;
    gap: 25px;
}
    .peso-in{
        text-align: center;
        border: none;
        box-shadow: -3px 3px burlywood ;
        background-color: antiquewhite;
    }

.con-altura{
    display: flex;
    gap: 15px;
}
    .altura-in{
        text-align: center;
        border: none;
        box-shadow: -3px 3px burlywood ;
        background-color: antiquewhite;
    }


@keyframes cambiar{
    0% {background-position: 0 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0 50%;}
}